<nav class="global-menu">
      <div class="global-menu__wrap">
      <ul class="list-unstyled">
          <li class="global-menu__item"><a href="#hero">Heim</a></li>
          <li class="global-menu__item"><a href="#avrik">Avrik</a></li>
          <li class="global-menu__item"><a href="#um">Um Bátasmíð</a></li>
          <li class="global-menu__item"><a href="#samband">Samband</a></li>
        </ul>
      </div>
  </nav>
  <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <defs>
      <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#0a0a0a"/>
          <stop offset="100%" stop-color="#111111"/>
      </linearGradient>
      <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#0a0a0a"/>
          <stop offset="100%" stop-color="#111111"/>
      </linearGradient>
      <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%"   stop-color="#111111"/>
        <stop offset="100%" stop-color="#0a0a0a"/>
      </linearGradient>
    </defs>
    <path class="shape-overlays__path"></path>
    <path class="shape-overlays__path"></path>
    <path class="shape-overlays__path"></path>
  </svg>