#{$headings} {
  margin-top: $headings-spacing * 2;
  margin-bottom: $headings-spacing;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
@include scale-headings;


#avrik{
h2 {
  @include fluid-type(font-size, 700px, 1200px, 60px, 100px);
}
}

#um, #samband{
  #{$headings}{
    font-size: $font-size-base;
    text-transform: uppercase;
    margin-bottom: $font-size-base * 1.2;
  }
}