<div id="progress-indicator">
      <svg
      class="progress-ring"
      width="50"
      height="50">
      <g>
        <circle
          class="progress-ring__inner"
          stroke="white"
          stroke-width="1"
          fill="transparent"
          r="23"
          cx="25"
          cy="25"/>
         </g>
      <g>
     <circle
       class="progress-ring__circle"
       stroke="white"
       stroke-width="2.5"
       fill="transparent"
       r="23"
       cx="25"
       cy="25"/>
      </g>
   </svg>

      <svg id="scroll-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 214.15 379.36"><title>go-back-left-arrow</title><polygon points="214.15 136.19 107.02 0 0 136.19 14.15 147.31 98.07 40.52 98.07 379.36 116.08 379.36 116.08 40.62 200 147.31 214.15 136.19"/></svg>
</div>