#progress-indicator {
  position: fixed;
  z-index: 999999999;
  cursor: pointer;

  .progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  #scroll-arrow{
    height: 45%;
    fill: $text-color;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 25%;
    transition: all 1s ease;
  }

  &:hover #scroll-arrow{
    transform: translateY(-5px);
  }

  @include spacing-absolute(bottom, right);
}
