@font-face {
    font-family: 'Ines';
    src: url('../static/fonts/Ines-Bold.eot');
    src: url('../static/fonts/Ines-Bold.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Ines-Bold.woff2') format('woff2'),
        url('../static/fonts/Ines-Bold.woff') format('woff'),
        url('../static/fonts/Ines-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ines';
    src: url('../static/fonts/Ines-LightItalic.eot');
    src: url('../static/fonts/Ines-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Ines-LightItalic.woff2') format('woff2'),
        url('../static/fonts/Ines-LightItalic.woff') format('woff'),
        url('../static/fonts/Ines-LightItalic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
}

@font-face {
    font-family: 'Ines';
    src: url('../static/fonts/Ines-BoldItalic.eot');
    src: url('../static/fonts/Ines-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Ines-BoldItalic.woff2') format('woff2'),
        url('../static/fonts/Ines-BoldItalic.woff') format('woff'),
        url('../static/fonts/Ines-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ines';
    src: url('../static/fonts/Ines-Light.eot');
    src: url('../static/fonts/Ines-Light.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/Ines-Light.woff2') format('woff2'),
        url('../static/fonts/Ines-Light.woff') format('woff'),
        url('../static/fonts/Ines-Light.ttf') format('truetype');
    font-weight: normal;
     font-style: normal;
}