// Container
.container {
  @include container;
}
.container-full-width {
  @include container;
  max-width: 100%;
}

// Row
.row {
  @include row;
}

.row-full-height {
  @include row;
  min-height: 100vh;
}

// Column
.col {
  @include column-base;
}

.col-top {
  align-self: start;
}

.col-center {
  align-self: center;
}

.col-bottom {
  align-self: end;
}

// Generate columns for all breakpoints
@include loop-breakpoints {
  @include loop-columns($breakpoint);
}
