// Container
.container {
  @include container;
}
.container-full-width {
  @include container;
  max-width: 100%;
}

// Row
.row {
  @include row;
}
.row-full-width {
  @include row;
  @include mq(md) {
    @include row-no-gutter;
	}
}

.row-full-height {
  @include row;
  min-height: 100vh;
}

// Column
.col {
  @include column-base;
}

// Generate columns for all breakpoints
@include loop-breakpoints {
  @include loop-columns($breakpoint);
}


// Spacing
.row-spacing{
  margin-bottom: 150px;
  @include mq(md) {
    margin-bottom: 250px;
  }
    
  .img-container{
    margin-bottom: 50px;
  }
}

.row-last{
  margin-bottom: 6rem;
}