<section>
  <div class="test3 container">
    <div class="test4 row-full-height">
      <div class="test1 col col-md-6 col-md-offset-4 col-center">
        For more than 40 years De Krakeling has been the principal theatre for
        young audiences. De Krakeling shows a high quality collection of mainly
        Dutch theatre and dance performances of both renowned theatre producers
        as well as promising new talent.
      </div>
    </div>
  </div>
</section>

<section class="container-full-width slider-wrapper">
  <div class="row-full-height slider-content">
    <div class="col col-center slider-item-right text-center">
      <img src="https://picsum.photos/id/1/500/300" alt="" />
      <a class="btn" href="#"><span>Sí myndir</span></a>
    </div>

    <div class="col col-center slider-item-left">
      <h1 class="text-center">Porto Sudeste Fabiana</h1>
    </div>
  </div>
</section>

<section class="container-full-width slider-wrapper">
  <div class="row-full-height slider-content">
    <div class="col col-center slider-item-right text-center">
      <img src="https://picsum.photos/id/1/500/300" alt="" />
      <a class="btn" href="#"><span>Sí myndir</span></a>
    </div>

    <div class="col col-center slider-item-left">
      <h1 class="text-center">Porto Sudeste Fabiana</h1>
    </div>
  </div>
</section>

<section class="container-full-width slider-wrapper">
  <div class="row-full-height slider-content">
    <div class="col col-center slider-item-right text-center">
      <img src="https://picsum.photos/id/1/500/300" alt="" />
      <a class="btn" href="#"><span>Sí myndir</span></a>
    </div>

    <div class="col col-center slider-item-left">
      <h1 class="text-center">Porto Sudeste Fabiana</h1>
    </div>
  </div>
</section>

<section class="container-full-width slider-wrapper">
  <div class="row-full-height slider-content">
    <div class="col col-center slider-item-right text-center"></div>

    <div class="col col-center slider-item-left"></div>
  </div>
</section>
